# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/
libraries/libemail/libemail.h
tools/geneos/geneos

integrations/servicenow/snow_router/snow_router
integrations/servicenow/snow_router/snow_router.yaml
integrations/servicenow/snow_client/snow_client
integrations/servicenow/snow_client/snow_client.yaml
examples/commands
examples/xpath
