# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# log files
*.log

# archives
*.tar.gz
*.zip

# no certs or keys
*.pem
*.key

.vscode
cordial.code-workspace

# Dependency directories (remove the comment below to include it)
vendor/
release*/

examples/api/api
examples/commands
examples/xpath

gdna/docker-compose.yml
gdna/docs/docs
gdna/gdna
gdna/gdna.sqlite*

integrations/pagerduty/pagerduty

integrations/servicenow/servicenow
integrations/servicenow/servicenow.yaml
integrations/servicenow2/servicenow2
integrations/servicenow2/servicenow2.client.yaml
integrations/servicenow2/servicenow2.router.yaml
integrations/servicenow2/servicenow2.proxy.yaml
integrations/servicenow/snow_client/snow_client
integrations/servicenow/snow_client/snow_client.yaml
integrations/servicenow/snow_router/snow_router
integrations/servicenow/snow_router/snow_router.yaml
integrations/sdp/sdp
integrations/sdp/sdp.yaml

libraries/libemail/libemail
libraries/libemail/libemail.h

tools/decode-aes256/decode-aes256
tools/dv2email/dv2email
tools/files2dv/files2dv
tools/files2dv/samples/file.txt
tools/gateway-reporter/gateway-reporter
tools/gateway-reporter/validate-setup
tools/geneos/geneos
tools/geneos/utils/docs/docs
tools/sso-diag/sso-diag
tools/san-config/san-config

utils/docs/docs
*.xml_*.history
gdna/gdna-test.yaml
