.CRITICAL {
    background-color: crimson;
    color: white;
}

.WARNING {
    background-color: gold;
    color: black;
}

.OK {
    background-color: limegreen;
    color: white;
}

.UNDEFINED {
    background-color: lightgrey;
    color: black;
}

table,
th,
td {
    border: 1px solid white;
    border-collapse: collapse;
    padding: 5px;
    text-align: left;
}

th {
    background-color: darkblue;
}

ul {
    width: 50%;
    list-style-type: none;
    list-style-position: inside;
}

span .headline {
    text-align: right
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: grey;
    min-width: 160px;
    /* box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2); */
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}